{
    margin: 0;
}
#one
{
    background-color: purple;
    padding: 40px;
}
#two
{
    margin-top: 10px;
}
#one h1
{
    color: white;
}
#one h3
{
    color: blue;
}
#three
{
    background-color: grey;
    height: 250px;
    width: 175px;
    padding: 7px;
}
#three a
{
    display: block;
    padding: 10px;
}
#five
{
    display: flex;
    margin: 25px;
}
#three a:hover
{
    background-color: white;
    color: black;
}
.text
{
    margin-left: 50px;
    margin-top: 15px;
    max-width: 70%;
}